/* ESTILOS GENERALES EN ETIQUETAS*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: $fontsize-default;
  margin: 0;
}

h2 {
  color: $text-color;
  font-size: 2em; // 32px / 16 = 2

  margin: 0; /*reset*/
  margin-bottom: 20px;
}

h3 {
  color: $text-color;
  font-size: 1.5em; // 24px

  margin: 0; /*reset*/
}

p {
  color: $text-color;
  font-size: 1.25em; // 20px
  line-height: 39px; /*Nueva propiedad para definir largo de texto*/

  margin: 0; /*reset*/
}

p.small {
  color: #666666;
  font-size: 1em; // 16px
}
