/* ESTILOS GENERALES EN ETIQUETAS*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h2 {
  color: $text-color;
  font-size: 32px;

  margin: 0; /*reset*/
  margin-bottom: 20px;
}

h3 {
  color: $text-color;
  font-size: 24px;

margin: 0; /*reset*/
}

p {
  color: $text-color;
  font-size: 20px;
    line-height: 39px; /*Nueva propiedad para definir largo de texto*/

  margin: 0; /*reset*/
}

p.small {
  color: #666666;
  font-size: 16px;
}
