// MIXIN - BOTONES
@mixin button-base {
  background-color: $btn-color;
  color: $white;

  font-size: 16px;
  font-weight: 500;

  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;
}

