/* BROWSE RANGE */

#browse-range-header {
  text-align: center;

  img {
    float: left;
    width: 32%;
  }

  margin-bottom: 88px;
}

.browse-range-gallery div + div {
  // 20 / 1200 * 100 = 1.6
  margin-left: 1.5%;
}

.browse-range-gallery > div{
  width: 32.33%;
  float: left;
  text-align: center;
  
  img {
    width: 100%; // Para que las imagenes no se superpongan
  }
}

.browse-range-gallery img {
  margin-bottom: 30px;
}