/* INPIRATION */
#inspiration-header {
  text-align: center;

  img {
    float: left;
    width: 32%;
  }
}

.inspiration-gallery {
  text-align: center;

  img {
    float: left;
    width: 32%;
  }
}

// parte / total x 100
// 41 / 1200(container) x 100 = 3.4167%

// 100 - 4 = 96
// 96 / 3 = 32
.inspiration-gallery img + img {

  margin-left: 2%;
}

#inspiration-header {
  margin-bottom: 88px;
}
