// Tablet
    @media only screen and (max-width: $tablet-breakpoint) {
    body {
        border-top: 10px solid blue;
    }

    // HEADER
    .nav {
        display: none;
    }
    
    #menu-link {
        display: block;
        float: right;
    }

    // FEATURES
    .feature-item {
        width: 40%;
        margin: 0 30%;
    }

    .feature-item + .feature-item {
        margin-top: 25px;
    }


    .feature-item-img {
        width: 25%;
        img {
            max-width: 70%;
            width: 100%;
        }
    }


    .feature-item-content {
        width: 70%;
        margin-left: 5%;
    }

    // INSPIRATION
    .inspiration-gallery {
        img {
            width: 50%;
            margin: 0 25% !important;
        }
    }

    .inspiration-gallery img + img {
        margin-left: 0;
    }

}
